.title {
  font-size: 43px !important;
  text-align: left;
  color: #756967 !important;
  line-height: 40px !important;
}

.author {
  font-size: 33px;
  text-align: left !important;
  color: #6C7567 !important;
  line-height: 25px !important;
}

.institute {
  font-size: 27px;
  text-align: left;
  color: #6C7567 !important;
  line-height: 25px !important;
}

.date {
  font-size: 25px;
  text-align: left;
  color: #6C7567 !important;
}

.reveal .footer {
  font-size: 0.30em !important;
  color: #756967;
}

.slides h1 {
    font-size : 45px;
    color: #756967 !important;
}

.slides h2 {
    font-size: 31px;
    color: #756967 !important;
}

.slides {
    font-size: 30px;
    color: #756967 !important;
}

.reveal .slide-number {
    font-size: 10px !important;
    color: #756967 !important;
}

.slides h6 {
    font-size: 25px !important;
    font-weight: 100;
    color: #756967 !important;
}
